@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}

header{
    width: 80%;
    margin-left: 10%;
    display: block;
}

.promo{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    background-color: #4f7942;
    color: white;
    padding: 8px;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: #154429;
    align-items: center;
}

.nav img{
    width: 10rem;
    height: 10rem;
    margin-left: 10%;
}

.loja{
    display: flex;
    gap: 30px;
    font-family: 'Roboto Mono', monospace;
    margin-right: 10px;
    width: 40%;
    justify-content:center;
    margin-right: 20px;
}

.card {
    display: block;
    text-align: center;
    color: #b0b68e;
}

.card > img{
    height: 60px;
    width: auto;
}
.menu ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: #4f7942;
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
    
}